<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8" />

    <link rel="stylesheet" href="/static/style.css" />

    <script src="/static/script.js"></script>

    <title>Jarvis Code Assistant</title>
  </head>

  <body>
    <h1>Jarvis Code Assistant</h1>

    
    <div class="code_container">
      <form class="code_reviwer" method="POST" action="/code_reviewer">
        <label>Your Code</label>

        <textarea
          class ="glass input_code"
          name="input_code"
          placeholder="Inserisci il tuo codice python"
          required
        ></textarea>

        <button type="submit" class="send_button" aria-label="Invia codice"></button>
      </form>

      <form class="reviewed_code_form">
        <label>Reviewed Code</label>

        <textarea
          class="glass reviewed_code_output"
          name="reviewed_code_output"
          readonly
        >{{ reviewed_code }}</textarea
        >

        <button type="button" class="copy_button" class="glass" onclick="copyFunction()" aria-label="Copia codice">Copy</button>
      </form>
    </div>
  </body>
</html>
